.login {
  margin: 0px;
  padding-right: 20px;
  float: right;
  height: 100%;
  margin-top: 10px;
  margin-right: 20px;
}

.login a {
  text-decoration: none;
  color: #fff;
}

fieldset.scheduler-border {
  border: solid 2px #DDD !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
}

legend.scheduler-border {
  width: auto !important;
  border: none;
  font-size: 18px;
  color: forestgreen;
}

.login_form {
  margin: 0px auto;
  width: 520px;
}

.login_form label {
  width: 85px;
  float: left;
  padding-top: 5px;
}

.login_form input {
  width: 300px;
}

.main_form {
  padding: 20px;
  margin: 0px auto;
  width: 428px;
}

.main_form button {
  width: 90px;
  margin-top: 25px;
  margin-right: 10px;
  padding: 0;
  box-shadow: 1px 3px 4px 2px #a4bca4;
  margin-bottom: 20px;
}

.main_form p {
  color: forestgreen;
  text-align: center;
}

.main_form p a {
  text-decoration: none;
  color: forestgreen;
  font-weight: bold;
}
.loginarea{
    padding: 25px 0px;
}
.loginarea .mat-card{
    padding: 60px 0px;
    box-shadow: 0px 1px 10px 1px darkgrey;
}