<div class="main-content">
  <mat-card>
    <div class="profile_area">
      <div class="pro_pic float-left">
        <img src="assets/images/student.jpg" alt="">
      </div>
      <div class="details float-left">
        <p><strong>{{basic.name}}</strong></p>
        <p>Department of {{stu.dept}}</p>
        <p>Program :{{stu.program}}</p>
        <p>Student Id :{{stu.dept_id}}</p>
        <p>Batch :{{stu.batch}}</p>
        <p>Admission Date :{{stu.admission_date}}</p>
      </div>
    </div>
  </mat-card>
</div>