<div class="page-container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <app-header></app-header>

    <!-- page title area start -->
    <div class="page-title-area">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="breadcrumbs-area clearfix">
            <h4 class="page-title pull-left">Dashboard</h4>
            <ul class="breadcrumbs pull-left">
              <li><a href="index.html">Home</a></li>
              <li><span>Dashboard</span></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 clearfix">
          <div class="user-profile pull-right">
            <img class="avatar user-thumb" src="assets/images/icon/bauet.png" alt="avatar">
            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Bauet <i class="fa fa-angle-down"></i></h4>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Message</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="login.html">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- page title area end -->

    <div class="main-content-inner">

      <div class="input_course" style="margin:30px 0px;">
        <form (ngSubmit)="courseSubmit();" style="margin:0px auto;width:845px;">
          <mat-form-field style="margin-right:22px;width:400px;">
            <input type="text" matInput placeholder="Course Name" name="course_name" [(ngModel)]="addcourse.course_name" >
          </mat-form-field>   

          <mat-form-field style="margin-right:22px;">
            <input type="text" matInput placeholder="Course Code" name="course_code" [(ngModel)]="addcourse.course_code" >
          </mat-form-field>   
          
          <mat-form-field style="margin-right:22px;">
            <mat-select placeholder="Department" name="dept"  [(ngModel)]="addcourse.dept" >
              <mat-option *ngFor="let department of departments" [value]="department.value">
                {{department.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <input type="submit" value="Add Course" class="btn primary">
          
        </form>
      </div>

      <div class="course_table">
        <div class="mat-elevation-z8">
          <mat-form-field style="float:right;margin-right:140px;width:380px;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
          <table mat-table [dataSource]="dataSource">

            <!-- Serial Column -->
            <ng-container matColumnDef="serial">
              <th mat-header-cell *matHeaderCellDef style="width:10%;"> Serial </th>
              <td mat-cell *matCellDef="let element;  let i = index"> {{i+1}} </td>
            </ng-container>

            <!--Course Name Column -->
            <ng-container matColumnDef="course_name">
              <th mat-header-cell *matHeaderCellDef style="width:30%;">Course Name</th>
              <td mat-cell *matCellDef="let element"> {{element.course_name}} </td>
            </ng-container>

            <!-- Course Code Column -->
            <ng-container matColumnDef="course_code">
              <th mat-header-cell *matHeaderCellDef style="width:15%;"> Course Code </th>
              <td mat-cell *matCellDef="let element"> {{element.course_code}} </td>
            </ng-container>

            <!-- Department Column -->
            <ng-container matColumnDef="dept">
              <th mat-header-cell *matHeaderCellDef style="width:15%;"> Department </th>
              <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
            </ng-container>



            <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef style="width:30%;">Actions</th>
            <td mat-cell *matCellDef="let element"> <a  [routerLink]="['/update_student', element._id]" ><mat-icon>edit</mat-icon></a> <a href=""><mat-icon>person_outline</mat-icon></a> <a (click)="openDialog(element._id)"><mat-icon>delete</mat-icon></a></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[15, 10, 30]" showFirstLastButtons></mat-paginator>
        </div>
        <!-- data table end -->
      </div>

    </div>

  </div>
  <app-footer></app-footer>
</div>
